/* Style sheet for TONC */

body
{  background-color:#e0ddcd; color:#000000; font-family:"Verdana"; }

/*
p
{	margin-top:0.5ex; margin-bottom:0.1ex; font-size:12pt; }
p.ni  { text-indent:0; }
*/

h1	{ font:bold; text-align:center; font-size:150%;}
h2	{ text-indent:16; font-size:130%; font-style:italic;}
h3	{ margin:1em 0 0.1em 0.1em; font-size:110%;}
h4	{ margin:0.2em 0 0.1em 0.1em; font-size:105%; color:#000060; }
h5	{ margin:0.1em 0 0.1em 0em; }
sup		{ font-size:80%; }
sub		{ font-size:80%; }

/* lists */
dd		{ margin-left:1em; margin-bottom:0.3em; }
dt		{ font-weight:bold; font-size:114%; }
dt.spec	{ color:blue; }

ul,ol	{ margin:0.3em 0.0em 0.3em 1.5em; }

/* blah */
.sm		{ margin-top:0; margin-bottom:0; }
.note
{
	margin: 1em 5%;
	background-color:#d0d0d0;
	border: 2px solid red; padding:8;
}
div.endtag	{ text-align:right; font-size:70%; }

/* picture+caption frames */
div.cpt, div.cpt_fl, div.cpt_fr
{ font-size:80%; border: solid 1px; margin:4; padding:4; }
div.cpt_fl	{ float:left; }
div.cpt_fr	{ float:right; }

/* The all important code listing styles */
.proglist
{
	border:outset ghostwhite 1.5pt
/*	border: solid #c0c0c0 1px; */
	font: 90%, "Courier New";
	margin:1em;	width:100%; padding:4;
	background:#f0f0f0;
}
.keyw	{ color:blue; }
.cmt	{ color:green; }
.str	{ color:purple; }
.num	{ color:magenta; }
.rem	{ color:red; }
.chng	{ background:red; }

/* Table styles */
table.reg
{
	font: 90%, "Courier New";
	background:#e0e0e0; border:solid #c0c0c0 1px;
}
/* caption	{ font:80%, "Times New Roman"; } */

td.fill, th.fill	{ width:16; }

/* 'equation tables' */
td.eqcell	{ padding:4px 0; font-size:110%; }
td.eqnrcell	{ width:32px; text-align:left; font-weight:bold; }

/* header/footer cells */
td.hdr_l	{ width:40%; text-align:left; }
td.hdr_c	{ width:20%; text-align:center; }
td.hdr_r	{ width:40%; text-align:right; }

